.description {
}

.profile {
}
.name {
  color: aliceblue;
}
.tag {
  color: antiquewhite;
}
.location {
  color: aqua;
}
.stats {
  color: aquamarine;
}
.label {
  color: azure;
}
.quantity {
  color: brown;
}
