.statistics {
  background-color: aliceblue;
}
.title {
  background-color: aliceblue;
}

.stat-list {
  background-color: aliceblue;
}

.item {
  background-color: aliceblue;
}

.label {
  background-color: aliceblue;
}

.percentage {
  background-color: aliceblue;
}
